html{
  font-size: 62.5%;
  box-sizing: border-box;
}

:root{
  --main-color:rgb(227, 230, 233);
  --main-text-color:rgb(31, 31, 31);
  --main-red-color:rgb(179, 28, 28);
  --container-color:#f0f0f081;
  --sub-container-color:rgba(231, 231, 231, 0.527);
  --primary-button: #6aa4ad;
  --star-color: rgb(30, 210, 165);
  --primary-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  --ligth-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  --rating-background: linear-gradient(to right,#aa4b6b, #6b6b83,#3b8c99);
}

body{
  font-size: 1.6rem;
  height: 100vh;
  margin: 0px;
  font-family: 'Nunito', Helvetica;
}

#root{
  height: 100%;
}

.gridContainer{
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.cardBig{
  transform: scale(1.8);
  margin: 3rem;
  margin-bottom: 2rem;
  color: rgb(197, 197, 197);
}

.contentMargined{
  margin: 1rem;
}

/* Buttons */
.button{
  border:none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.button a{
  text-decoration: none;
  color: white;
}

.primary{
  background-color: var(--primary-button);
  height: 4rem;
  color: rgb(255, 255, 255);
}

.secondary{
  background-color: rgb(136, 136, 136);
  color: rgb(240, 240, 240);
  height: 3rem;
}

.fullWidth{
  width: 100%;
}

.button:hover{
 cursor: pointer; 
}

.iconButton{
  background: none;
  border:none;
  color: rgb(136, 136, 136);
  transform: scale(1.2);
  cursor: pointer;
}

.updateButton{
  margin: 1rem;
  display: flex;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  transform: scale(1.2);
  background-color: rgb(136, 136, 136);
  color: var(--sub-container-color);
}

.updateButton .iconButton{
  color: rgba(255, 255, 255, 0.918);
}

.iconButton:active, 
.iconButton:focus 
{
    outline-color: rgb(223, 223, 223);
 }

/* Header */
.header{
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  max-width: 100vw;
  box-shadow: var(--primary-box-shadow)
}

.header a{
  color: var(--main-text-color);
  text-decoration-line: none;
}

.brand{
  font-size: 2rem;
}

.navbar{
  font-size: 1.5rem;
}
.navbar a{
  height: 5rem;
  padding: 0 1rem 0 0;
}

/* Main */
.main{
  grid-area: main;
  height: 100%;
}

.products{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.products li{
  list-style-type: none;
  padding: 0px;
  flex: 1 1 30rem;
  margin: 3rem 3rem;
  max-width: 40rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.product{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.imageLink{
  display: flex;
  justify-content: center;
}

.productName {
  display: flex;
  justify-content: space-between;
}
.productName a{
  font-size: 1.8rem;
  color: black;
}

.productBrand{
  font-size: 1.2rem;
  margin: 0.4rem 0;
}
.productBrand span{
  background-color: rgb(136, 136, 136);
  color: white;
  border-radius: 0.4rem;
  padding: 0 0.2rem;
}

.productInfo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.productInfo .reviewBar{
  min-width: 10rem;
}

.productPrice{
  font-size: 2rem;
  font-weight: bold;
  margin-right: 2rem;
}

.productRating{
  display: flex;
  align-items: flex-end;
}

.rating{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-column-gap: 1rem;
  align-items: center;
}
.rating span{
  font-size: 1.2rem;
}

.ratingPercent{
  margin: 0;
  padding: 0;
}

.totalRatingContainer div{
  padding-left: 1rem;
  height: 2rem;
  width: 100%;
  border-radius: 0.5rem;
}
.totalRatingContainer div::before{
  height: 2rem;
  padding: 0 0.5rem;
}
.totalRatingContainer div::after{
  height: 0;
}

.reviewBar{
  height: 0.8rem;
  background: linear-gradient(to right,#aa4b6b, #6b6b83,#3b8c99);
  border-radius: 0.5rem;
}

.reviewBar::before{
  content: '';
  display: block;
  height: 0.8rem;
  width: 1rem;
  margin-left: var(--rating-percent);
  margin-top: -0.1rem;
  background-color: rgb(255, 255, 255);
  border: 0.1rem solid rgb(124, 124, 124);
  border-radius: 0.2rem;
}

.productImage{
  max-width: 30rem;
  height:30rem;
}

.content{
  height: 100%;
  max-width: 100vw;
}

/* Product page */
.productScreen{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

.details{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-content: center;
}

.detailsImage{
  max-width: 45rem;
  max-width: 90vw;
  min-height: 40rem;
}

.detailsInfo{
  align-self: flex-start;
  width: auto;
  max-width: 80vw;
  margin: 3rem 0rem 0rem 3rem;
}

.detailsInfo ul{
  margin: 0px;
  padding: 0px;
}

.detailsInfo li{
  list-style-type: none;
}

.detailPrice{
  padding-top: 2rem;
}

.actions{
  width: 45rem;
  max-width: 100vw; 
}

.actionContainer{
  max-width: 100vw;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: rgb(44, 44, 44);
  font-size: 1.6rem;
  display: flex;
  box-shadow: var(--primary-box-shadow);
}

.actionContainer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.actionList {
  width: 100%;
}
.actionListHeader {
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-column-gap: 1rem;
}

.actionList li{
  display: grid;
  margin-bottom: 0.5rem;
}

.actionList li > p{
  margin: 0px;
  padding: 0px;
}

.subContainer{
  width: 100%;
  max-width: 100vw;
  margin-bottom: 1rem;
  background-color: rgb(245, 245, 245);
  border-radius: 0.5rem;
  border-bottom: 0.2rem solid rgb(189, 189, 189);
}

.subContainerHeader{
  height: 4rem;
  display: grid;
  grid-template-columns: auto 1fr auto 3.5rem;
  align-items: center;
  padding: 1rem;
}

.subContainerHeader div{
  display: flex;
}

.subContainerHeader h2{
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  display: flex;
  align-self: center;
}
.subContainerHeader h3{
  font-size: 2rem;
  margin: 0 1rem;
}

.highlight{
  margin: 0;
  padding: 0;
  font-size: 2.4rem;
  color: rgb(68, 68, 68);
}

/* RatingStatistics */

.subContainerContent{
  overflow: hidden;
  margin: 1rem;  
  overflow-y: auto;
}

.ratingStatistics{
  position: relative;
  padding-bottom: 1rem;
}

.ratingStat{
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  margin-right: 1rem;
}

.ratingBar{
  height: 2rem;
}

.rateBar{
  height: auto;
  background-color: rgb(202, 202, 202);
  margin: 0.5rem;
  box-shadow: 0 0 2pt 1pt rgb(170, 170, 170);
}

.rateBar::before{
  content: "";
  display: block;
  width: var(--percentage);
  background-color: rgb(150, 150, 150);
  height: 1.2rem;
  position: relative;
}


.ratingStat p{
  margin: 0;
  padding: 0;
}
.ratingStat p, b{
  text-align: right;
}

.customerReviews{
  width: 100%;
  
  /* background-color: #e4e4e481; */
}

.reviewItem{
  padding-top: 1rem;
  border-radius: 0.5rem;
  margin: 0.2rem;
  margin-top: 1rem;
  border: 0.1rem solid rgb(194, 194, 194);
  background-color: rgb(255, 255, 255);
}

.reviewNumber{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
  text-align: center;
  padding: .5rem;
  height: 1rem;
  width: 3.5rem;
  font-size: 1.3rem;
  border: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.6);
}

.reviewUser{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--main-text-color);
}

.reviewUser span{
  align-self: flex-start;
  font-size: 1.4rem;
  margin-left: auto;
}

.reviewUser p{
  margin: 0;
  padding-left: 1rem;
}

.reviewRating{
  margin: 1rem;
  margin-bottom: 0;
}

.reviewRating p{
  margin: 0;
  margin-left: 1rem;
}

.optionButtons{
  max-width: 20rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: rgb(196, 196, 196);
  background-image: var(--rating-background);
  min-height: 2rem;
  border-radius: 0.5rem;
  padding: 0 0.1rem;
  margin-bottom: 1rem;
  margin-left: auto;
}

.optionButton{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border: rgba(255, 255, 255, 0);
  color: none;
  color: white;
  background-color:rgba(255, 255, 255, 0.267);
}

.optionButton:last-child{
  border-radius: 0 0.5rem 0.5rem 0;
}

.optionButton:first-child{
  border-radius: 0.5rem 0 0 0.5rem;
}

.optionButtons button:hover{
  cursor: pointer;
  background-color:rgba(255, 0, 0, 0);
}
.optionButtons button:active{
  outline: none;
  border: none;
}

.reviewContainer{
  max-width: 41rem;
  height: auto;
  background-color: white;
  margin-bottom:0rem; 
  margin: 0;
  padding: 0 ;
  border: none;
  /* box-shadow: var(--ligth-box-shadow) */
}

.reviewContainerHeader h2{
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  margin-left: 1rem;
  padding: 1rem 0;
}

.reviewUserMy{
  display: grid;
  grid-template-columns: 3rem minmax(5rem, auto) 1fr auto;
  grid-column-gap: 1rem;
  align-items: center;
  align-content: center;
  padding-left: 0.5rem;
  margin: 0 0.5rem;
  height: 4rem;
  border-radius: 5rem;
  border: 0.1rem solid rgb(190, 190, 190);
}

.reviewUserMy span{
  text-align: right;
  margin-right: 1rem;
}
.reviewUserMy p{
  line-height: 1.8rem;
}

.reviewCommentContainer{
  min-height: 4.5rem;
  margin-left: 1rem;
  padding: 1rem;
}

.reviewComment{
  background-color: rgb(240, 240, 240);
  border-radius: 0.5rem;
  min-height: 3rem;
  margin-bottom: 1rem;
  max-width: 100vw;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 0rem 1fr;
}
.reviewComment p{
  margin: 0;
  padding: 0;
  max-width: 30rem;
  word-wrap: break-word;
}
.reviewComment span{
  margin-left: auto;
  position: relative;
  font-size: 1.2rem;
  top: -0.5rem;
}

.reviewCommentForm{
  display: grid;
  grid-template-columns: 1fr 7rem;
  grid-column-gap: 1rem;
  grid-template-rows: 2rem auto;
}
.reviewCommentForm label{
  grid-column: 1/3;
}
.reviewCommentForm button{
  background-color: white;
  margin-left: 1rem;
}
.reviewCommentForm textarea{
  padding: 0.4rem;
  border: 0.1rem solid gray;
}

.submitButton{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border: 0.1rem solid rgb(121, 121, 121);
  color: black;

  /* box-shadow: var(--primary-box-shadow) */
}

.myRating{
  background-color: white;
}

/* Cart */
.cart{
  display: flex;
  flex-wrap: wrap; 
}

.cartList{
  flex-grow: 1;
  display: flex;
  max-width: 100vw;
  margin: 1rem;
}

.cartListContainer{
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.cartHeader{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.6rem;
  border-bottom: 0.1rem solid gray; 
}

.cartHeader h3{
  margin: 0px;
}

.cartItem{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 0.1rem solid gray;
  max-width: 100vw;
  flex-wrap: wrap;
}

.cartItemInfo{
  display: flex;
  flex-direction: column;
  height: 14rem;
  margin-left: 1rem;
  margin-right: 2rem;
  max-width: 40vw;
}

.cartItemDescription{
  margin-top: 1rem;
  font-size: 1.5rem;
}

.cartItemList{
  margin-top: auto;
  margin-bottom: 1rem;
}

.cartItemList .listItem{
  max-width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
}
.cartItemList .listItem{
  min-width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  margin: 0.5rem 0;
}

.cartItemList .listItemColors{
  width: auto;
  max-width: 100vw;
  display: grid;
  align-content: center;
  height: 3rem;
  padding-bottom: 1rem;
}

.cartItemList .listItemColors div button{
  height: 1.5rem;
}

.cartItemName{
  margin: 0;
  margin-top: 0.5rem;
  font-size: 2rem;
  width: 15rem;
}
.cartItemName a{
  color: black;
  text-decoration: none;
}

.cartSelect{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.cartSelect .listItem{
  margin-bottom: 1rem;
}

.cartQty{
  display: flex;
  flex-wrap: wrap;
}
.cartQty select{
  max-width: 5rem;
  margin-left: 0.5rem;
}

.cartPriceColumn{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartRemove{
  max-width: 14.5rem;
  margin: 1rem 0;
}

.cartItemPrice{
  font-size: 2rem;
  font-weight: bold;
  margin-left: auto;
  padding-top: 0.5rem;
}

.cartItemImageContainer{
  width: 20rem;
  max-width: 40vw;
}
.cartItemImage{
  max-height: 15rem;
}

/* Footer */
.footer{
  grid-area: footer;
  background-color: var(--main-color);
  color: var(--main-text-color);
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.contentCenter{
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

.tableCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.tableTitle h3{
  margin: 1rem 0;
}

.shipping{
  margin: auto;
  width: 35rem;
  max-width: 100vw;
  margin-top: 1rem;
}

/* Action components */
.listItem{
  height: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  background-color:  var(--sub-container-color);
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.listItemLast{
  display: grid;
  grid-template-columns: 1fr auto;
  border-top:  0.3rem solid rgb(173, 173, 173);
  padding: 1rem 0;
  font-weight: bold;
  font-size: 1.8rem;
}

.listItemColors{
  display:grid;
  grid-template-columns: 5rem 1fr;
  grid-row: 3/5;
  grid-column: 2/3;
}

.listItemColors div{
  grid-column: 1/3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.listItemColor{
  width: 3rem;
  height: 1.5rem;
  margin-left: 0.2rem;
  border-radius: 0.5rem;
  opacity: 0.8;
  cursor: pointer;
  outline: none;
  border: none;
}

.listItemFullWidth{
  display: grid;
  grid-template-columns:1fr 7rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  background-color:  var(--sub-container-color);
  padding-right: 0.2rem;
}
.listItemFullWidth b{
  padding-right: 0.5rem;
}

.listItemFullWidth h4{
  margin: 0;
  padding: 0;
  margin-right: 2rem;
}

.listItemPaypal{
  height: auto;
  position: relative;
  margin-top: -2rem;
  top: 2.5rem;
}

.listItem b{
  text-align: end;
}

.listHeader{
  grid-column: 1/3;
  border-bottom:  0.1rem solid rgb(173, 173, 173);
  margin: 0; 
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 0;
} 

.select{
  background-color:rgba(155, 155, 155, 0.582);
  border: none;
  border-radius: 0.5rem;
}

.listButton{
  grid-column: 1/3;
}

/* Form */
.form{
  margin: 5rem 1rem 1rem 1rem;
  width: 35rem;
}

.formContainer{
  margin:0;
  padding: 1rem;
  list-style-type: none;
  background-color: #e4e4e481;
  border-radius: 0.5rem;
  box-shadow: var(--primary-box-shadow)
}

.formContainer li{
  width: 100%;
  margin: 1rem auto 1rem;
}

.formField{
  width: 100%;
  border-bottom:  2px solid dimgray;
  transition: 300ms;
  padding-top: 1rem;
}


.formField:focus{
  border: none;
}

.textArea{
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  border: none;
  padding: 0.5rem;
  min-height: 3rem;
  height: 3rem;
  font-size: 1.6rem;
  font-family: 'Nunito';
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.formField input{
  margin-top: auto;
  outline: none;
  border: none;
  overflow: hidden;
  position: relative;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  padding-top: 2rem;
  background: none;
  font-size: 1.6rem;
  font-weight: bold;
  transition: border 500ms;
  padding-left: 0.1rem;
  z-index: 2;
}

.input:focus{
  outline: none;
}

.formField input:valid{
  color: rgb(36, 36, 36);
}

.formField input:invalid{
  /* color: rgb(214, 87, 28); */
}

.formField input:not(:focus-within){
  color: rgb(97, 97, 97);
}

.formField::after{
  content: "";
  position: relative;
  display: block;
  height: 4px;
  width: 100%;
  background: rgb(30, 210, 165);
  transform: scaleX(0);
  transform-origin: 0%;
  transition: all 500ms ease;
  top: 2px;
}

.formField:focus-within::after{
 transform: scaleX(1);
 opacity: 1;
}

.label{
  display: flex;
  position: absolute;
  color:black;
  z-index: 1;
  opacity: 0.9;
  transform: translateY(-2.5rem);
  transform-origin: -100%;
  transition: transform 400ms;
  text-transform: capitalize;
}

.formField:focus-within .label,
.input:not(:placeholder-shown) + .label {
  transform:  translateY(-4.5rem);
}

.toRegister{
  font-size: 1.6rem;
  height: 2.5rem;
  margin: 2rem;
}

.showPassword{
  position: relative;
  height: 0;
  display: flex;
  justify-content: flex-end;
  top: 1.5rem;
  z-index: 3;
}

.showPassword button{
  height: 2.6rem;
  width: 5rem;
  border: none;
}

.showPassword i{
  transform: scale(0.9);
  color: rgb(56, 56, 56);
}

.changePassword{
  position:relative;
  width: 17rem;
  top:-2.8rem;
  z-index: 4;
}

.changePassword{
  width:100%;
  position: relative;
  height: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 3;
  top:-2rem;
}

.changePasswordButton{
  position: relative;
  top: 3rem;
}

/* PasswordStrengtMeter */
.passwordStrengthMeter{
  height: 1rem;
  transition: opacity 200ms ease-out, margin-top 200ms ease-in;
}

.passwordMeter{
  position: relative;
  border-radius: 0.5rem;
  margin: 0.2rem;
  height: 1rem;
}

.passwordMeter::before{
  content: '';
  position: absolute;
  height: 1rem;
  /* background-image: linear-gradient(to right,#aa4b6b, #6b6b83,#3b8d99); */
  background-image: linear-gradient(to right,#e45669,#6be585);
  width: calc(1% * var(--strength, 0));
  width: 100%;
  border-radius: 0.3rem;
}

.passwordMeter::after{
  content: '';
  position: absolute;
  height: 1.0rem;
  background-color: #e4e4e4;
  width: calc(1% * var(--strength, 0));
  left: calc(1% * (100.2 - var(--strength, 0)));
  border-radius: 0 0.3rem 0.3rem 0;
  transition: width 200ms ease-out, left 200ms ease-out;
}

.passwordWeaknesses{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.passwordWeakess{
  height: 1.5rem;
  font-size: 1.2rem;
  width: 100%;
  margin: 0.2rem;
  text-align: center;
  color: rgb(0, 0, 0);
}

.passwordWeakess:first-child{
  border-radius: 0.3rem 0 0 0.3rem;
}

.passwordWeakess:last-child{
  border-radius: 0 0.3rem 0.3rem 0;
}

.productList{
  max-width: 100vw;
  overflow: scroll;
}

.orderList{
  max-width: 100vw;
  overflow-y: hidden;
}

/* Products */
.productHeader h3{
  font-size: 2rem;
}

.products{
  display: flex;
  align-items: flex-start;
}

.table{
  min-width: 70rem;
}

.tableItemHighlighted{
  background-color: rgb(156, 156, 156);
  color: white;
  border-radius: 0.5rem;  
}

.tableItemBoolean{
  width:2rem;
  text-align: center;
}

.tableItemDate{
  min-width: 15rem;
}

.tableButtons{
  height: 100%;
  margin: 0;
  padding: 0;
  width: auto;
}
.tableButtons button{
  height: 100%;
  margin: 0;
  padding: 1rem;
  min-width: 9rem;
}

.trackPackage{
  display: flex;
  align-items: center;
}

.trackPackage span{
  min-width: 12rem;
}

tr{
  border-bottom: 0.1rem solid black;
}

th{
  text-align: left;
  font-size: 1.6rem;
  padding: 0 1rem;
  border-radius: 0.5rem; 
  background-color: rgb(184, 184, 184);
}

td{
  font-size: 1.4rem;
  padding: 0 1rem;
  background-color: rgb(218, 218, 218);
  border-radius: 0.5rem; 
}

.tdActions .button{
  width: 7rem;
  margin-right: 1rem;
}

thead>tr:first-child{
  background-color: #e6e6e6;
}

thead{
  
}

tbody>tr:nth-child(odd){
  background-color: #f0f0f0;
  border-bottom: 0.2rem solid black;
}

.productsActions{
  display: flex;
}

.productsActions button{
  width: 100%;
  padding: 0.1rem;
  margin: 0 0.5rem;
}

/* Checkout Steps */
.checkoutSteps{
  display: flex;
  justify-content: space-between;
  width: 35rem;
  max-width: 100vw;
  margin: auto;
  margin: 2rem 0;
}

.checkoutSteps > div{
  border-top: .3rem #dfdfdfc0 solid;
  color: #c0c0c0c0;
  flex: 1 1;
  text-align: center;
  font-size: 1.4rem;
}
.checkoutSteps > div.active{
  border-top: .4rem var(--primary-button) solid;
  color: #414141c0;
}

/* Place Order */
.placeorder{
  max-width: 100vw;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  flex-grow: 1;
}

.order{
  flex-grow: 1;
}

.orderInfoContainer{
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  color: rgb(44, 44, 44);
  flex-grow: 1;
}

.orderInfo{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  flex-grow: 1;
  margin-bottom: 0;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 30rem;
  max-width: 40rem;
  min-height: 15rem;
  background-color: var(--container-color);
  border-radius: 0.5rem;  
  box-shadow: var(--primary-box-shadow); 
}

.infoContainerHeader{
  background-color: var(--sub-container-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.infoContainerHeader span{
  padding-top: 0.5rem;
}

.orderInfo h3{
  margin: 0;
}

.infoContainer{
  display: grid;
  grid-template-columns: 15rem auto;
}

.infoContainerTracking{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 0;
  min-width: 25rem;
}

.trackingIconContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.6rem;
  width: 3.6rem;
  border: 0.1rem solid rgb(197, 197, 197);
  border-radius: 50%;
}
.trackingIcon {
  color: rgb(56, 56, 56);
  transform: scale(1.2);
}

.landing{
  transform: rotate(65deg) scale(1.2);
}


.infoText{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5,1.8rem);
  padding: 1rem;
}

.infoText span{
  padding-left: 0.2rem;
}

.infoPaidAt{
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.reviewedItems{
  color: var(--main-red-color);
}

.cartItem{
  padding: 0;
  margin: 0;
}

/* Profile */
.profile{
  display: flex;
  flex-wrap: wrap;
}

.profileInfo{
  flex: 1 1 40rem;
}

.profileOrders{
  flex: 3 1 60rem;
  margin: 1rem;
  max-width: 90vw;
  overflow-y: hidden;
}

/* Admin */
.dropdown{
  height: 2rem;
  display: inline-block;
  position: relative;
}

.dropdown div{
  cursor: pointer;
}

.dropdownContent{
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: var(--main-color);
  margin: 0;
  /* margin-top: 1rem; */
}

.dropdown:hover .dropdownContent{
  display: block;
}

.filterContainer {
  max-width: 100vw;
  width: 30rem; 
  margin: auto;
}

/* Filter */
.filter{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
  padding: 0;
  margin-top: 3rem;
}

.filter li{
  display: flex;
  flex-grow: 1;
}

.filterForm{
  display: grid;
  grid-template-columns: 1fr 6rem;
}

.filterActions{
  display: flex;
  flex-direction: column;
}
.filterActions button{
  width: 3rem;
  position: relative;
  top: -5rem;
  margin-left: auto;
}

.sortOrder{
  height: 4rem;
  border: none;
  border-radius: 3rem;
}

.filterButton{
  height: 3rem;
  border-radius: 0.5rem;
  border:none;
  background-color: rgb(216, 216, 216);
}

.first{
  border-radius: 0 0.5rem 0.5rem 0;
}

.second{
  border-radius: 0.5rem;
  border:none;
}

.roundButton{
  text-align: center;
  height: 3rem;
  background-color: rgb(216, 216, 216);
  border: none;
  border-radius: 0.5rem;
}

.filterInput{
  height: 2.6rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 0.1rem solid rgb(194, 194, 194);
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}


@media only screen and (max-width: 850px) {
  .placeorder{
    flex-wrap: wrap-reverse;
  }
  .placeorderAction{
    flex-grow: 1;
  }
}