html{
  font-size: 62.5%;
  box-sizing: border-box;
}

:root{
  --main-color:rgb(227, 230, 233);
  --main-text-color:rgb(31, 31, 31);
  --primary-button:#add889;
}

body{
  font-size: 1.6rem;
  height: 100vh;
  margin: 0px;
  font-family: 'Nunito', Helvetica;
}

#root{
  height: 100%;
}

.gridContainer{
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

/* Header */
.header{
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  max-width: 100vw;
}

.header a{
  color: var(--main-text-color);
  text-decoration-line: none;
}

.brand{
  font-size: 2rem;
}

.navbar{
  font-size: 1.5rem;
}
.navbar a{
  padding: 0 1rem 0 0;
}

/* Main */
.main{
  grid-area: main;
  height: 100%;
}

.products{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.products li{
  list-style-type: none;
  padding: 0px;
  flex: 1 1 30rem;
  margin: 3rem 3rem;
  height: 40rem;
  max-width: 40rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.product{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.productName{
  font-size: 1.5rem;
}

.productBrand{
  font-size: 1.2rem;
}

.productPrice{
  font-size: 2rem;
  font-weight: bold;
}

.imageLink{
  display: flex;
  justify-content: center;
}

.productImage{
  max-width: 30rem;
  height:30rem;
}

.content{
  height: 100%;
  max-width: 100vw;
}

/* Product page */

.productScreen{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.details{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-content: center;
}

.detailsImage{
  max-width: 45rem;
  max-width: 90vw;
  min-height: 40rem;
}

.detailsInfo{
  align-self: flex-start;
  width: auto;
  max-width: 80vw;
  margin: 3rem 0rem 0rem 3rem;
}

.detailsInfo ul{
  margin: 0px;
  padding: 0px;
}

.detailsInfo li{
  list-style-type: none;
}

.detailPrice{
  padding-top: 2rem;
}

.actions{
  max-width: 100vw; 
}

.detailsAction{
  margin: 1rem;
  max-width: 45rem;
  display: flex;
  background-color: #e4e4e481;
  border-radius: 0.5rem;
  color: rgb(44, 44, 44);
  font-size: 1.6rem;
  padding: 1rem 0;
}

.detailsAction ul{
  margin: 0px;
  padding: 0 1rem;
  width: 25rem;
}

.detailsAction li{
  list-style-type: none;
  display: grid;
  grid-template-columns: 6rem 1fr;
  padding: 0.2rem;
}

.detailsAction li > p{
  margin: 0px;
  padding: 0px;
}

.reviewContainer{
  display: flex;
  align-self: flex-end;
  max-width: 100vw;   
  margin: 1rem;
}

.review{
  list-style-type: none;
  padding: 0;
  width: 45rem;
}

.review h2{
  font-size: 2rem;
}

.reviewAction h3{
  font-size: 1.6rem;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border:0.1rem ;
  border-radius: 0.5rem;
  background-color: #c9c9c9;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}

.primary{
  background-color: var(--primary-button);
  height: 4rem;
}

.secondary{
  background-color: rgb(136, 136, 136);
  color: rgb(240, 240, 240);
  height: 3rem;
}

.fullWidth{
  width: 100%;
}

.button:hover{
 cursor: pointer; 
}

/* Rating */
.rating span{
  color: rgb(118, 221, 169);
  font-size: 1.8rem;
  margin: 0.1rem;
}

.rating span:last-child{
  color: rgb(43, 43, 43);
  font-size: 1.4rem;
}

a > .rating > span:last-child{
  color: #0000ff;
}

/* Cart */
.cart{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.cartList{
  flex: 3 1 60rem;
  margin: 0 1rem;
}

.cartListContainer{
  padding: 0;
  list-style-type: none;
}

.cartListContainer li:first-child{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.6rem;
  border-bottom: 0.1rem solid gray;
}

.cartListContainer li:first-child h3{
  margin: 0px;
}

.cartItem{
  display: flex;
  border-bottom: 0.1rem solid gray;
  max-width: 100vw;
  flex-wrap: wrap;
}

.cartItemInfo{
  display:flex;
  font-size: 1.6rem;
  flex-direction: column;
  padding: 1rem 1rem 1rem 3rem;
  justify-content: space-between;
}

.cartItemName{
  padding-bottom: 2rem;
  font-size: 2rem;
  width: 15rem;
}
.cartItemName a{
  color: black;
  text-decoration: none;
}

.cartRemove{
  margin-top: 1rem;
}

.cartItemPrice{
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  align-self: flex-end;
  text-align: right;
  padding: 0.5rem;
}

.cartItemImage{
  max-height: 15rem;
  max-width: 15rem;
  margin-left: 2rem;
}

.cartAction{
  flex: 1 1 20rem;
  background-color: #f8f8f8;
  border-radius: .5rem;
  margin: 1rem;
  height: 12rem;
  font-size: 1.6rem;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartAction h2{
  margin: 0rem 1rem;
  margin-top: -0.1rem;
  padding: 0;
  border-bottom: 0.1rem solid gray;
}
.cartAction h3{
  font-size: 1.6rem;
  margin: 1rem;
}

/* Footer */
.footer{
  grid-area: footer;
  background-color: var(--main-color);
  color: var(--main-text-color);
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

/* Signin */

.form{
  display: flex;
  width: 40rem;
  max-width: 100vw;
  margin: auto;
}

.form form{
  margin: 1rem;
  width: 40rem;
  max-width: 100vw;

}

.formContainer{
  margin: 0;
  padding: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #e4e4e481;
  border-radius: 0.5rem;
}

.formContainer li{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.formContainer li h3{
  font-size: 2rem;
  margin: 0;
}

.formContainer li label{
  font-size: 1.6rem;
}

.formContainer li div{
  display: flex;
  align-items: center;
}
.formContainer li div label{
  padding-top: 0.3rem;
}

.formContainer li input{
  height: 3rem;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  font-size: 1.6rem;
}

.toRegister{
  font-size: 1.6rem;
  height: 0.5rem;
  margin: 1rem 0;
}

.productList{
  max-width: 100vw;
  overflow: scroll;
}

.orderList{
  max-width: 100vw;
  overflow: scroll;
}

/* Products */

.productHeader h3{
  font-size: 2rem;
}

.products{
  display: flex;
  align-items: flex-start;
}

.table{
  width: 100%;
  min-width: 70rem;
}

th{
  text-align: left;
  font-size: 1.6rem;
}

td{
  font-size: 1.4rem;
}

.tdActions{
  display: flex;
}

.tdActions .button{
  width: 7rem;
  margin-right: 1rem;
}

tbody>tr:nth-child(odd){
  background-color: #f0f0f0;
}

.productsActions{
  display: flex;
}

.productsActions button{
  width: 100%;
  padding: 0.1rem;
  margin: 0 0.5rem;
}

/* Checkout Steps */
.checkoutSteps{
  display: flex;
  justify-content: space-between;
  width: 35rem;
  max-width: 100vw;
  margin: auto;
  margin-top: 2rem;
}

.checkoutSteps > div{
  border-top: .3rem #dfdfdfc0 solid;
  color: #c0c0c0c0;
  flex: 1 1;
  text-align: center;
  font-size: 1.4rem;
}
.checkoutSteps > div.active{
  border-top: .4rem var(--primary-button) solid;
  color: #414141c0;
}

/* Place Order */
.placeorder{
  flex: 3 1 60rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100vw;
  margin-top: 3rem;
}

.cartItem{
  padding: 0;
  margin: 0;
}

.order{
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  margin: 1rem;
}

.placeorderInfo{
  padding-left: 1rem;
}

.placeorderAction{
  flex: 1 1 20rem;
  margin: 1rem;
  /* width: 40rem; */
  max-width: 100vw;
}

.placeorderAction ul{
  padding: 0;
  height: auto;
  margin: 0;
  border: 0.1rem #c0c0c0c0 solid;
  border-radius: 0.5rem;
  padding: 1rem;
}

.placeorderAction ul li{
  font-size: 1.6rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.placeorderAction ul li:last-child{
  font-size: 1.8rem;
  font-weight: bold;
  border-top: 0.1rem black solid;
}

.placeorderInfo{
  display: flex;
  flex-direction: column;
  height: 10rem;
  background-color: #f5f5f5c0;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
}

.placeOrderActionPayment div {
  width: 100%;
}

/* Profile */

.profile{
  display: flex;
  flex-wrap: wrap;
}

.profileInfo{
  flex: 1 1 40rem;
}

.profileOrders{
  flex: 3 1 60rem;
  margin: 1rem;
  max-width: 90vw;
  overflow: scroll;
}

/* Admin */
.dropdown{
  display: inline-block;
  position: relative;
}

.dropdownContent{
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: var(--main-color);
  margin: 0;
  margin-top: 1rem;
}

.dropdown:hover .dropdownContent{
  display: block;
}

/* Filter */
.filter{
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  margin: 1rem;
}

.filter li{
  display: flex;
  /* flex-wrap: wrap; */
  margin: 2rem;
}

.filterForm{
  display: flex;

}

.sortOrder{
  height: 4rem;
  background-color: rgb(188, 211, 189);
  border: none;
  border-radius: 3rem;
}

.filterButton{
  height: 3rem;
  margin-right: 0.2rem;
  width: 6rem;
  border-radius: 0.5rem;
  border:none;
  background-color: rgb(201, 201, 201);
}

.first{
  border-radius: 0 0.5rem 0.5rem 0;
}

.second{
  border-radius: 0.5rem;
  border:none;
  margin-left: 0.5rem;
}

.roundButton{
  text-align: center;
  height: 3rem;
  min-width: 7rem;
  background-color: rgb(188, 211, 189);
  border: none;
  border-radius: 0.5rem;
}

.filterInput{
  max-width: 35vw;
  height: 2.6rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 0.1rem solid rgb(194, 194, 194);
}